{% extends "auctions/layout.html" %}
{% block title %}
{{auction.name_of_product}}
{% endblock %}

{% block body %}
<div class="container">
  <div class="bg-light">
    <div class="px-5 pt-3 pb-2">
      <h2 class="font-weight-light">{{auction.name_of_product}}</h2>
      <div class="row pt-3 pb-5" style="margin-bottom: 5rem; ">
        <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-12 col-sm-12 py-3">
          <img class="img-fluid" src = "{{img}} " style="max-height: 25em; max-width: 40em; object-fit:cover;">
        </div>
        <div class="col-xxl-4 col-xl-4 col-lg-12 col-md-12 col-sm-12 py-3">
          <!-- Description Top -->
          <section id = "product_details" class="p-3 bg-white" style="position: relative; min-height: 400px;">
            <p class="pt-2 text-secondary">Buyout Price: $ {{auction.buyout_price}}</p>
            <p class="text-secondary">
              {% if bids %}
                {% if user.is_authenticated %}
                  Current Highest Bid: {{bids.0}}
                {% else %}
                  Current Highest Bid: $ {{bids.0.amount}}
                {% endif %}
              {% else %}
                Current Bid: $ 0.00
              {% endif %}
            </p>
            <p class="text-secondary">
              
              {% if not bids %}
                {% if auction.starting_bid %}
                  Starting Bid: $ {{auction.starting_bid}}
                {% endif %}
              {% endif %}
                
            </p>
            <p class="text-secondary">Category: {{auction.category}}</p>

            <!-- Bottom of the description -->
            <div style="position: absolute; bottom:5px; align-content: center;">
              <!-- if auction open  -->
              {% if not auction.closed %}
                  <!-- if user == op -->
                {% if auction.listed_by == request.user %}
                  <form action="{% url 'auction' auction.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Close Auction" class="btn btn-warning" name="close-auction" style="margin-bottom: 15px; padding-left: 5em; padding-right: 5em;">
                  </form>  
                  <!-- if user != op -->
                {% else %}
                <!-- if already in watchlist -->
                
                {% if watching %}
                <form action="{% url 'auction' auction.id %}" method="post">
                      {% csrf_token %}
                      <div class="row">
                        <div class="col">
                          <div class="form-group px-3">
                            <input type="submit" name="remove_watchlist" value="Remove from WatchList" class="btn btn-danger px-5">
                          </div>
                        </div>
                      </div>
                </form> 
                {% else %}
                <!-- if auction not in watchlist -->
                <form action="{% url 'auction' auction.id %}" method="post">
                      {% csrf_token %}
                      <div class="row">
                        <div class="col">
                          <div class="form-group pl-5">
                            <input type="submit" name="add_watchlist" value="Add to WatchList" class="btn btn-success px-4">
                          </div>
                        </div>
                      </div>
                </form>                   
                {% endif %}
                  

                {% with bids|first as latest_bid  %}
                <!-- if user has the last bid -->
                  {% if latest_bid.posted_by == request.user %}
                    <div class="btn btn-primary" style="margin-bottom: 15px; margin-left: 1em;padding-left: 3em; padding-right: 3em;"> You have the latest bid</div>
                  {% else %}
                <!-- if user does not have the last bid -->
                    <form action="{% url 'auction' auction.id %}" method="post">
                      {% csrf_token %}
                      <div class="row">
                        <div class="col">
                          <div class="form-group">
                            <input class="form-control" autofocus type="number" name="bid_amount" value = '{{bids.0.amount|add:5}}' placeholder="Bid Amount">
                          </div>
                        </div>
                        <div class="col">
                          <div class="form-group px-3">
                            <input type="submit" value="Bid" class="btn btn-success px-5">
                          </div>
                        </div>
                      </div>
                    </form>                     
                  {% endif %}
                {% endwith %}
                {% endif %}
              {% else %}
                <!-- if auction closed  -->
                  
                {% if auction.winner %}
                  <p class="text-secondary font-weight-bold">Winner: {{auction.winner}}</p>
                {% endif %}
                  
                <div class="btn btn-danger" style="margin-bottom: 15px; padding-left: 5em; padding-right: 5em;">
                  Auction Closed
                </div>
              {% endif %}
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
  <section id="comments">
    <div class="pt-5"></div>
    <h3>Comments</h3>
   {% for thread in comments %}
      <div class="b-3 bg-light rounded">
        {% for comment in thread %}
          {% if comment == thread|first %}
            {% if comment == thread|last %}
              <p class="px-3 py-3 text-secondary">
              
              {% if comment.user %}
                {{comment.user}} : {{comment.comment}}
              {% else %}
                Anonymous : {{comment.comment}}
              {% endif %}
                
              </p>              
            {% else %}
              <p class="px-3 pt-3 text-secondary">
              {% if comment.user %}
                {{comment.user}} : {{comment.comment}}
              {% else %}
                Anonymous : {{comment.comment}}
              {% endif %}
              </p>              
            {% endif %}
          {% else %}
            {% if comment == thread|last %}
              <p class="px-5 pb-3  text-secondary">
                {% if comment.user %}
                 {{comment.user}} : {{comment.comment}}
                {% else %}
                 Anonymous : {{comment.comment}}
                {% endif %}
              </p>             
            {% else %}
              <p class="px-5  text-secondary">
                {% if comment.user %}
                 {{comment.user}} : {{comment.comment}}
                {% else %}
                 Anonymous : {{comment.comment}}
                {% endif %}
              </p>
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>
      
      {% with thread|first as firstcomment %}
        {% if user.is_authenticated %}
          <form action="{% url 'auction' auction.id %}" method="post" style="width: 90%; padding:0px 0px 20px 0px; margin-left: auto; margin-right: 0;">
            {% csrf_token %}
            <input type="text" name="reply"  class="form-control" placeholder="Post a reply as {{user}}" required pattern="\S.*" >
            <input type="hidden" name="comment_id" value="{{firstcomment.id}}">
          </form>
        {% else %}
          <form action="{% url 'auction' auction.id %}" method="post" style="width: 90%; padding:0px 0px 20px 0px; margin-left: auto; margin-right: 0;">
            {% csrf_token %}
            <input type="text" name="anonymous-reply"  class="form-control" placeholder="Post a reply as anonymous" required pattern="\S.*">
            <input type="hidden" name="comment_id" value="{{firstcomment.id}}">
          </form> 
        {% endif %}        
      {% endwith %}
        

   {% empty %}
    <p class="text-secondary"> No Comments found</p>
   {% endfor %}
        <div class="b-3 rounded pb-5">
      
      {% if user.is_authenticated %}
        <form action="{% url 'auction' auction.id %}" method="post">
          {% csrf_token %}
          <input type="text" name="comment"  class="form-control" placeholder="Post a comment as {{user}}" required pattern="\S.*">
        </form>
      {% else %}
        <form action="{% url 'auction' auction.id %}" method="post">
          {% csrf_token %}
          <input type="text" name="anonymous-comment"  class="form-control" placeholder="Post a comment as anonymous" required pattern="\S.*">
        </form> 
      {% endif %}
        
      </div>
    
      
  </section>
</div>
{% endblock %}