{% extends "auctions/layout.html" %}
{% block title %}
{{auction.name_of_product}}
{% endblock %}

{% block body %}
<div class="container">
  <div class="bg-light">
    <div class="px-5 pt-3 pb-2">
      <h1 class="display-4">{{auction.name_of_product}}</h1>
      <img class="img-fluid" src = "{{img}} ">
      <p class="pt-2 text-secondary">Buyout Price: $ {{auction.buyout_price}}</p>
      <p class="text-secondary">
        {% if bids %}
          {% if user.is_authenticated %}
            Current Highest Bid: {{bids.0}}
          {% else %}
            Current Highest Bid: $ {{bids.0.amount}}
          {% endif %}
        {% else %}
          Current Bid: $ 0.00
        {% endif %}
      </p>
      <p class="text-secondary">Category: {{auction.category}}</p>
        
    </div>
  </div>
  <section id="comments">
    <div class="pt-5"></div>
    <h3>Comments</h3>
   {% for thread in comments %}
      <div class="b-3 bg-light rounded">
        {% for comment in thread %}
          {% if comment == thread|first %}
            {% if comment == thread|last %}
              <p class="px-3 py-3 text-seconary">
              {{comment.user}} : {{comment.comment}}
              </p>              
            {% else %}
              <p class="px-3 pt-3 text-seconary">
              {{comment.user}} : {{comment.comment}}
              </p>              
            {% endif %}
          {% else %}
            {% if comment == thread|last %}
              <p class="px-5 pb-3  text-seconary">
                {% if comment.user %}
                 {{comment.user}} : {{comment.comment}}
                {% else %}
                 Anonymous : {{comment.comment}}
                {% endif %}
              </p>             
            {% else %}
              <p class="px-5  text-seconary">
                {% if comment.user %}
                 {{comment.user}} : {{comment.comment}}
                {% else %}
                 Anonymous : {{comment.comment}}
                {% endif %}
              </p>
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>
   {% empty %}
    <p class="text-seconday"> No Comments found</p>
   {% endfor %}
    
      
  </section>
</div>
{% endblock %}