{% extends "auctions/layout.html" %}


{% block title %}
    {{title}}
{% endblock title %}
    

{% block body %}
    <h2 class="m-5 pb-5">{{title}}</h2>

    {% if auctions %}
            <section id="list">
                <div class="container-xxl">
                    <div class="row justify-content-center">
                        {% for listing in auctions %}
                        <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-4 col-sm-6 border p-3 pb-6 m-2 bg-light">
                            <a href="{% url 'auction' listing.id %}" class="text-reset text-decoration-none text-danger">
                                <img class="img-fluid" src = "{{listing.image}} " style="height: 20em; width: 100%; object-fit: cover; ">
                                <h3 class="fw-light pt-3"> {{listing.name_of_product}}</h3>
                                <p> Buyout price: ${{listing.buyout_price}}</p>
                                <p> Created at: {{listing.created_at}}</p>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
    {% else %}
    <p> No auctions currently listed</p>
    {% endif %}
{% endblock %}